name: mapbox_gl_modified
description: A Flutter plugin for integrating Mapbox Maps inside a Flutter application on Android, iOS and web platfroms.
version: 0.16.0
homepage: https://github.com/ithebest/mapbox_gl_modified

dependencies:
  flutter:
    sdk: flutter
  mapbox_gl_modified_platform_interface: ^0.16.0
  mapbox_gl_modified_web: ^0.16.0
  collection: ^1.15.0


flutter:
  plugin:
    platforms:
      android:
        package: com.mapbox.mapboxgl
        pluginClass: MapboxMapsPlugin
      ios:
        pluginClass: MapboxMapsPlugin
      web:
        default_package: mapbox_gl_modified_web

environment:
  sdk: '>=2.12.0 <3.0.0'
  # Flutter versions prior to 1.10 did not support the flutter.plugin.platforms map.
  flutter: ">=2.0.0"
